.nav {
    background-color: #8dc6ff;
    width: 100%;
    margin: 0px, 0px, 0px, 0px;
    padding: 20px 0px;
    z-index: 10;
    font-size: 20px;
  }
  
  .nav ul {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    align-items: center;
  }
  
  .nav ul li {
    list-style: none;
    transform: none;
    transition: all 0.1s ease-in-out;
  }
  
  .nav ul li:hover {
    transform: scale(1.1);
  }
  .selected {
    text-decoration: underline;
  }
